.main-cart-box {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-cart-box .card-container-horizontal {
    height: 45%;
}

.p-large.text-center.top-description {
    margin-top: 7rem;
}