.main-cart-box {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-container-horizontal {
    height: auto;
}

.p-large.text-center.top-description {
    margin-top: 7rem;
}

.empty-cart {
    text-align: center;
}

.empty-cart p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}