#side-container {
    position: fixed;
    height: 100vh;
    top: 5.5rem;
    width: 18%;
    z-index: 10;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.opening-bar {
    padding: 1.5rem 2rem;
}

.side-ways {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.side-ways button.no-bg.btn-text-primary {
    margin: 0;
    margin-right: 0.5rem;
    padding: 0;
}

.filter-section {
    margin-top: 1.2rem;
}

.side-ways-left {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.side-ways-left.big {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin-top: 1rem;
}

.side-ways-left.big input {
    margin-top: 1rem;
}

.side-ways-center {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.side-ways-center .side-ways {
    margin: 1rem 0rem 0rem 0rem;
}

#side-container input {
    margin: 0rem 0.5rem;
}