* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  height: 100vh;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-fit: top center;
}

:root {
  --primary-light-color: #2565c7;
  --primary-light-bg-color: #19468b;

  --primary-font-color: #fff;
  --primary-font-dark-color: #696b79;
  --primary-dark-bg-color: #1a1a1d;
}

.no-bg {
  background: transparent;
  border: none;
  cursor: pointer;
}